.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  z-index: 10000;
  border-bottom: 3px solid gray;
  opacity: 90%;
}

.App-header h1 {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-size: 40px;
  border-bottom: .8px solid white;
}

.App-footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Jost', sans-serif;
}

.App-main {
  flex-grow: 1;
  margin-top: 15%;
  margin-bottom: 5%;
  padding-top: 30px;
}

h1 {
  font-size: 36px;
  font-family: 'Cormorant Garamond', serif;
}

h5 {
  font-family: 'Jost', sans-serif;
}

p {
  font-size: 18px;
}


.book-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.book-card {
  border: 1px solid lightslategray;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  height: 450px;
  width: 300px;
}

.carousel-container {
  margin-top: 5%;
}

.cover-thumb {
  max-height: 200px;
  border-radius: 3px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: right;
}

.nav a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  padding: 10px 30px;
  transition: background-color .25s, box-shadow .15s;
}

.nav a:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 3px 0px 0px gray;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.detail img {
  height: 80%;
}

.detail link {
  text-decoration: none;
}

.info-wrapper {
  text-align: left;
  padding-right: 30px;
 
}

.detail-description {
  margin-top: 0px;
  padding-top: 5px;
}

.back-btn {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  color: blue;
  margin-top: 15px;
  padding-top: 10px
}

.back-btn:hover {
  text-decoration: underline;
}


h5 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: rgb(177, 177, 177);
  letter-spacing: 1px;
}

.details {
  padding-top: 5px;
  margin-top: 0px;
}

.view-details {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color: blue;
  font-size: 14px;
  /* position: absolute; */
  /* bottom: 0; */
}



.view-details:hover {
  text-decoration: underline;
}