.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  z-index: 10000;
  border-bottom: 4px solid gray;
  opacity: 90%;
  font-family: 'Quattrocento', serif;
}

.App-footer {
  width: 100%;
  background-color: black;
  color: white;

}

.App-main {
  flex-grow: 1;
  margin-top: 15%;
  padding-top: 30px;
}

.book-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.book-card {
  border: 1px solid lightslategray;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 5px;
  height: 400px;
  width: 300px;
}

.cover-thumb {
  max-height: 200px;
  border-radius: 3px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: right;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 14px 30px;
  transition: background-color .25s, box-shadow .15s;

}

.nav a:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 4px 0px 0px gray;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: lightslategray; */
  padding: 15px;
  align-items: ;
}

.detail img {
  height: 80%;
}

.detail link {
  text-decoration: none;
}

.info-wrapper {
  text-align: left;
  padding-right: 30px;
 
}

.detail-description {
  margin-top: 0px;
  padding-top: 5px;

}

.back-btn {
  text-decoration: none;
  color: blue;
  margin-top: 15px;
  padding-top: 10px
}

h5 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: slategray
}

.details {
  padding-top: 5px;
  margin-top: 0px;
}